<div class="row">
  <div class="col-md-6">
      <mat-list >
          <h3 mat-subheader>Purchases</h3>
          <mat-list-item *ngFor="let item of purchases" >
            <mat-icon mat-list-icon>add_shopping_cart</mat-icon>
            <h4 mat-line>{{item.name}}</h4>
            <p mat-line>{{item.price}} {{item.currency}}</p>
            <p mat-line> {{item.date | date:short}} </p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
  </div>
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="deleteByDate()">
        <mat-form-field >
          <input class="input" matInput [matDatepicker]="picker" placeholder="Choose a date"  formControlName="deletingDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      <button mat-raised-button color="warn" type="submit"  [disabled]="form.invalid">Delete by date</button>
    </form>
  </div>
</div>